
/* En général  */


body{
    font-family:Arial, Helvetica, sans-serif;

}

a{
    text-decoration: none;
    outline: none;
    color:black;
}



/* MENU */


.debut{
    font-size: 30px;
}


.menu{
    position: relative;
    font-size: 30px;
    text-align: left;

}
.menu2{
    position: relative;
    font-size: 30px;
    text-align: right;
    top: -75px;
}



/* MENU */

.photoProfil img{
    display: flex;
    align-items: left;
    justify-content: left;

    width:300px;
    height:250px;  
    padding-left: 100px;

}

.main{
    display: flex;
    
}

.textProfil{
    margin-left: 300px;
    font-size: 20px;
}















